html,body{
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}
.header_model {
    background-color: #F7F7F7;
    padding-top: 120px;
}

.logo {
    width: 100%;
    text-align: center;
}

.logo h1, h2 {
    color: #FFFAFA;
    text-shadow: 5px 0 6px #4876FF;
}

.logo h1 {
    font-size: 8.0em;
    letter-spacing: 20px;
    padding-bottom: 30px;
}
.topHeader {
    height: 70px;
    background-color: #F5FFFA;
}

.topHeader header {
    width: 100%;
    margin: 0 auto;
    height: 70px;
    border-bottom:1px solid #EDEDED;
    background-color: #F5FFFA;
}

.header-brand {
    font: normal bold 2.5em/70px sans-serif;
    color: #39f;
    letter-spacing: 4px;
    float: left;
    padding: 0 50px;
    width: 10%;
}

.header-brand:hover {
    text-decoration: none;
    color: #4876FF;
}

.header-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 70px;
}

.header-nav li {
    min-width: 12%;
    height: 70px;
    line-height: 70px;
    float: left;
    text-align: center;
    list-style: none;
}

.header-nav li a {
    color: #545454;
    font-size: 19px;
    font-weight: bold;
}

.header-nav li a:hover {
    color: #ffffff;
    text-decoration: none;

}

.header-nav li a:active {
    color: #ffffff;
    text-decoration: none;
}

.header-nav li:hover {
    color: #ffffff;
    background-color: #4876FF;
}

.link_active {
    background-color: #4876FF;
}


.link_active a {
    color: #ffffff !important;
    text-decoration: none;
}
.header-userinfo{
 float:right;
    width: 20%;
    height:70px;
    padding:0 10px;
    text-align:right;
    line-height: 70px;
}
.header-usertitle{
    width:40px;
    height:40px;
    margin: 0 10px;
}
.header-username{
    width: 150px;
    font-weight: bold;
    letter-spacing: 1px;
    overflow-x: hidden;
    padding-right: 10px;
    background-color: transparent;
    border: none;
    color:#39f;
    text-align: left;
}
.header-username:hover{
    background-color: transparent;
    border: none;
    color:#3A5FCD ;
}
.header-selectlist li{
    line-height: 20px;
}