/*左侧导航样式*/
.colin-left-nav {
    background: #63B8FF repeat;
    height: 100%;
    color: #ffffff;
    text-align: center;
    margin-top:0px;
}

.colin-headerpic {
    width: 90px;
    height: 90px;
    margin: 20px 0;
}

.colin-left-nav ul {
    margin: 0 auto;
    width: 73%;
    height: 70px;
    padding: 0;
}

.colin-left-nav li {
    float: left;
    list-style: none;
    color: #ffffff;
    width: 33%;
}

.colin-left-nav li i {
    font-size: 21px;
    margin:0;
}

.colin-left-nav li p {
    font-size: 15px;
    margin: 3px 0;
}

.colin-collectInfo {
    color: #EEAD0E;
}

.colin-logoff-btn {
    margin: 10px 0 !important;
    font-size: 15px !important;
    width: 110px;
    height: 35px;
    border-radius: 4px;
    color: #F5F5F5 !important;
}
.colin-function-nav{
    width: 100%;
}
.colin-function-nav td{
    width: 50%;
    color: #E0EEE0;
    border: 1px solid #B9D3EE;
}
.colin-function-nav td:hover{
    cursor: pointer;
    background: #1E90FF repeat;
}
.colin-function-nav td i{
    font-size: 40px;
    margin-bottom: 5px;
}
.colin-function-nav td p{
    font-size: 14px;
    margin: 5px 0!important;
}
